*.o
*.lo
*.la
src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
src/google/protobuf/unittest.pb.cc
src/google/protobuf/unittest.pb.h
src/google/protobuf/unittest_custom_options.pb.cc
src/google/protobuf/unittest_custom_options.pb.h
src/google/protobuf/unittest_embed_optimize_for.pb.cc
src/google/protobuf/unittest_embed_optimize_for.pb.h
src/google/protobuf/unittest_empty.pb.cc
src/google/protobuf/unittest_empty.pb.h
src/google/protobuf/unittest_import.pb.cc
src/google/protobuf/unittest_import.pb.h
src/google/protobuf/unittest_import_lite.pb.cc
src/google/protobuf/unittest_import_lite.pb.h
src/google/protobuf/unittest_import_public.pb.cc
src/google/protobuf/unittest_import_public.pb.h
src/google/protobuf/unittest_import_public_lite.pb.cc
src/google/protobuf/unittest_import_public_lite.pb.h
src/google/protobuf/unittest_lite.pb.cc
src/google/protobuf/unittest_lite.pb.h
src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
src/google/protobuf/unittest_lite_imports_nonlite.pb.h
src/google/protobuf/unittest_mset.pb.cc
src/google/protobuf/unittest_mset.pb.h
src/google/protobuf/unittest_no_generic_services.pb.cc
src/google/protobuf/unittest_no_generic_services.pb.h
src/google/protobuf/unittest_optimize_for.pb.cc
src/google/protobuf/unittest_optimize_for.pb.h
gtest/Makefile
gtest/build-aux/config.h
gtest/build-aux/stamp-h1
gtest/config.log
gtest/config.status
gtest/fused-src/gtest/.deps/
gtest/libtool
gtest/samples/.deps/
gtest/scripts/gtest-config
gtest/src/.deps/
gtest/test/.deps/
src/unittest_proto_middleman
.vscode/
Makefile
config.h
config.log
config.status
java/target/
libtool
protobuf-lite.pc
protobuf.pc
src/.deps/
src/.libs/
src/Makefile
src/protoc
src/unittest_proto_middleman
stamp-h1